<section id="contribute" class="py-5">
  <div class="container">
    <h1 class="text-center">{{ locale.contribute_title }}</h1>
    <p class="text-center mb-3">{{ locale.contribute_description }}</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-bugzilla.svg">
          <div class="media-body">
            <h5 class="my-0">Bugzilla</h5>
            <p>{{ locale.bugzilla_description }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-github.svg">
          <div class="media-body">
            <h5 class="my-0">GitHub</h5>
            <p>{{ locale.github_description }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-weblate.svg">
          <div class="media-body">
            <h5 class="my-0">Weblate</h5>
            <p>{{ locale.weblate_description }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-wiki.svg">
          <div class="media-body">
            <h5 class="my-0">Wiki</h5>
            <p>{{ locale.wiki_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
