<section id="tools" class="py-5">
  <div class="container">
    <h1 class="text-center">{{ locale.tools_title }}</h1>
    <p class="text-center mb-3">{{ locale.tools_description }}</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-obs.svg">
          <div class="media-body">
            <h5 class="mt-0">Open Build Service</h5>
            <p>{{ locale.obs_summary }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-openqa.svg">
          <div class="media-body">
            <h5 class="mt-0">openQA</h5>
            <p>{{ locale.oqa_summary }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-yast.svg">
          <div class="media-body">
            <h5 class="mt-0">YaST</h5>
            <p>{{ locale.yast_summary }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <img class="tool-logo mr-3" src="/assets/images/tool-kiwi.svg">
          <div class="media-body">
            <h5 class="mt-0">KIWI</h5>
            <p>{{ locale.kiwi_summary }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
